<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <li><a href="/myAccount">My Account</a></li>
                <li>|</li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </header>
        <section class="main-content">
            <div class="main-content-box">
                <div class="main-content-title">
                    <h1>Your Address</h1>
                </div>
                <div class="address-list">
                    <% addressList.forEach(function(address){ %>
                        <div class="address-item">
                            <% if(address.isDefault){ %>
                                <div class="address-item-default">Default Address</div>
                            <% } %>
                            <ul class="address-item-content">
                                <li><strong><%= address.name %></strong></li>
                                <li><%= address.line1 %></li>
                                <% if(address.line2){ %>
                                   <li><%= address.line2 %></li>
                                <% } %>
                                <li><%= address.city %>, <%= address.state %>, <%= address.zipcode %></li>
                                <li><%= address.country %></li>
                                <li>Phone: <%= address.telephone %></li>
                            </ul>
                            <ul class="address-item-action">
                                <% if(!address.isDefault){ %>
                                    <li><a class="address-item-action-default" href="/setAsDefaultAddress?id=<%= address.id %>">Set as default Address</a></li>
                                <% } %>
                                <li><a href="/editAddress?id=<%= address.id %>">Edit</a></li>
                                <% if(!address.isDefault){ %>
                                    <li><a class="address-item-action-delete" href="/deleteAddress?id=<%= address.id %>">Delete</a></li>
                                <% } %>
                            </ul>
                        </div>
                    <% }); %>

                    <div class="address-add-button"><a href="/addAddress">Add Address</a></div>
                </div>      
            </div>
        </section>
        <%- include('global/_footer'); %>
        <script type="text/javascript">
            $(".address-item-action-default").on("click",function(event){
                var result = confirm("Are you sure ant to change your default address?");
                if (!result) {
                    event.preventDefault();
                }
            });

            $(".address-item-action-delete").on("click",function(event){
                var result = confirm("Are you sure ant to delete this address?");
                if (!result) {
                    event.preventDefault();
                }
            });
    </script>
    </body>
</html>