<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <li><a href="/myAccount">My Account</a></li>
                <li>|</li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </header>
        <section class="main-content">
            <div class="main-content-box">
                <div class="address-list">

                    <div class="address-list-title">Your Address</div>
                    <% addressList.forEach(function(address){ %>
                        <div class="address-item">
                            <% if(address.isDefault){ %>
                                <div class="address-item-default">Default Address</div>
                            <% } %>
                            <ul class="address-item-content">
                                <li><strong><%= address.name %></strong></li>
                                <li><%= address.line1 %></li>
                                <% if(address.line2){ %>
                                   <li><%= address.line2 %></li>
                                <% } %>
                                <li><%= address.city %>, <%= address.state %>, <%= address.zipcode %></li>
                                <li><%= address.country %></li>
                                <li>Phone: <%= address.telephone %></li>
                            </ul>
                            <ul class="address-item-action">
                                <% if(!address.isDefault){ %>
                                    <li><a href="/setAsDefaultAddress?id=<%= address.id %>">Set as default Address</a></li>
                                <% } %>
                                <li><a href="/editAddress?id=<%= address.id %>">Edit</a></li>
                                <% if(!address.isDefault){ %>
                                    <li><a href="/deleteAddress?id=<%= address.id %>">Delete</a></li>
                                <% } %>
                            </ul>
                        </div>
                    <% }); %>

                    <div class="address-add-button"><a href="/addAddress">Add Address</a></div>
                </div>      
            </div>
        </section>
        <footer class="site-footer">
            <ul class="site-footer-content">
                <li>All rights reserved © 2017</li>
                <li>CS6360 Group 4, Spring 2017, UTDallas</li>
            </ul>
        </footer>
        <script type="text/javascript">
            // $("#enableEdit").on("click",function(event){
            //     event.preventDefault();
            //     $(".form-profile input[type=text]").attr("readonly",false);
            //     $("#enableEdit").hide();
            //     $("#submit").show();
            //     $(".form-profile input[type=text]").first().focus();
            //     $(".form-profile").addClass("editing");
            // });
    </script>
    </body>
</html>