<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <li><a href="/myAccount">My Account</a></li>
                <li>|</li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </header>
        <section class="main-content">
            <div class="main-content-box">
                <div class="gform-wrapper">
                    <form action="/saveCard" method="post">
                        <div class="gform-row">
                            <div class="gform-col-12">
                                <div class="gform-title">Card Information</div>
                            </div>
                        </div>
                        <input type="hidden" name="id" value=<%= card.id %>>
                        <input type="hidden" name="customerId" value=<%= card.customerId %>>
                        <div class="gform-row">
                            <div class="gform-col-4">
                                <div class="gform-input-group">
                                    <label for="name">Full Name</label>
                                    <input type="text" name="name" value=<%= card.name %>>
                                </div>
                            </div>
                            <div class="gform-col-4">
                                <div class="gform-input-group">
                                    <label for="type">Type</label>
                                    <select name="type">
                                        <option value="VISA">VISA</option>
                                        <option value="MasterCard">MasterCard</option>
                                        <option value="American Express">American Express</option>
                                        <option value="Discover">Discover</option>
                                        <option value="Discover">UnionPay</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-8">
                                <div class="gform-input-group">
                                    <label for="cardNumber">Card Number</label>
                                    <input type="text" name="cardNumber" value=<%= card.cardNumber %>>
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-4">
                                <div class="gform-input-group">
                                    <label for="name">Expiration Date</label>
                                    <input type="text" name="expirationDate" value=<%= card.expirationDate %>>
                                </div>
                            </div>
                            <div class="gform-col-4">
                                <div class="gform-input-group">
                                    <label for="name">CVV</label>
                                    <input type="text" name="cvv" value=<%= card.cvv %>>
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-8">
                                <div class="gform-input-group">
                                    <label for="line1">Address Line 1</label>
                                    <input type="text" name="line1" value=<%= card.line1 %>>
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-8">
                                <div class="gform-input-group">
                                    <label for="line2">Address Line 2</label>
                                    <input type="text" name="line2" value=<%= card.line2 %>>
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-4">
                                <div class="gform-input-group">
                                    <label for="city">City</label>
                                    <input type="text" name="city" value=<%= card.city %>>
                                </div>
                            </div>
                            <div class="gform-col-4">
                                <div class="gform-input-group">
                                    <label for="state">State</label>
                                    <input type="text" name="state" value=<%= card.state %>>
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-4">
                                <div class="gform-input-group">
                                    <label for="country">Country</label>
                                    <input type="text" name="country" readonly value="United States">
                                </div>
                            </div>
                            <div class="gform-col-4">
                                <div class="gform-input-group">
                                    <label for="zipcode">Zipcode</label>
                                    <input type="text" name="zipcode" value=<%= card.zipcode %>>
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-4">
                                <button>Save</button>
                            </div>
                        </div>    
                        
                    </form>
                </div>   
            </div>
        </section>
         <%- include('global/_footer'); %>
        <script type="text/javascript">
            $("#enableEdit").on("click",function(event){
                event.preventDefault();
                $(".form-profile input[type=text]").attr("readonly",false);
                $("#enableEdit").hide();
                $("#submit").show();
                $(".form-profile input[type=text]").first().focus();
                $(".form-profile").addClass("editing");
            });
    </script>
    </body>
</html>