<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <li><a href="/myAccount">My Account</a></li>
                <li>|</li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </header>
        <section class="main-content">
            <div class="main-content-box">
                 <div class="main-content-title">
                    <h1>Your Cards</h1>
                </div>
                <div class="card-list">
                    <% cardList.forEach(function(card){ %>
                        <div class="card-item">
                            <% if(card.isDefault){ %>
                                <div class="card-item-default">Default Card</div>
                            <% } %>
                            <ul class="card-item-content">
                                <li><strong><%= card.type %></strong>&nbsp; &nbsp;<%= card.cardNumber %></li>
                                <li><%= card.name %></li>
                                <li><%= card.line1 %></li>
                                <% if(card.line2){ %>
                                   <li><%= card.line2 %></li>
                                <% } %>
                                <li><%= card.city %>, <%= card.state %>, <%= card.zipcode %></li>                                                   
                            </ul>
                            <ul class="card-item-action">
                                <% if(!card.isDefault){ %>
                                    <li><a href="/setAsDefaultCard?id=<%= card.id %>">Set as default card</a></li>
                                <% } %>
                                <li><a href="/deleteCard?id=<%= card.id %>">Delete</a></li>
                            </ul>
                        </div>
                    <% }); %>
                    <div class="card-add-button"><a href="/addCard">Add Card</a></div>
                </div>      
            </div>
        </section>
         <%- include('global/_footer'); %>
        <script type="text/javascript">
        </script>
    </body>
</html>