<html>
<%- include('global/_head', {title:"Customer Information"}); %>
<body>
<div class="page-data">
    <div class="data-table">
        <fieldset>
            <legend>Customer information</legend>
            Customer_ID:
            <input id="customer_id" type="text" name="customer_id" value="<%=data.id%>" readonly="readonly" />
            <br />
            UserName:
            <input id="username" type="text" name="username" value="<%=data.username%>" readonly="readonly" />
            <br />
            FirstName:
            <input id="firstName" type="text" name="firstName" value="<%=data.firstName%>" readonly="readonly" />
            <br />
            MiddleName:
            <input id="middleName" type="text" name="middleName" value="<%=data.middleName%>" readonly="readonly" />
            <br />
            LastName:
            <input id="lastName" type="text" name="lastName" value="<%=data.lastName%>" readonly="readonly" />
            <br />
            Email:
            <input id="email" type="text" name="email" value="<%=data.email%>" readonly="readonly" />
            <br />
            Telephone:
            <input id="telephone" type="text" name="telephone" value="<%=data.telephone%>" readonly="readonly" />
            <br />
            CreatedTime:
            <input id="createTime" type="text" name="createdTime" value="<%=data.createdTime%>" readonly="readonly" />
            <br />
            LastModifiedTime:
            <input id="lastModifiedTime" type="text" name="lastModifiedTime" value="<%=data.lastModifiedTime%>" readonly="readonly"/>

            <br /><br />
            <input type="button" value="Edit" onclick="window.location.href='/profile/edit'" />
            <input type="button" value="Delete" onclick="window.location.href='/profile/delete/'" />

        </fieldset>
    </div>
</div>
</body>
</html>