<!DOCTYPE html>
<html>
<%- include('global/_head', {title:"Login to Surprise!"}); %>
    <body class="inventory-page"> 
        <div id="header">
            <div class="shell">
                <div id="top">
                    <h1><a href="#">Administrator</a></h1>
                    <div id="top-navigation">
                        <a href="#">Log out</a>
                    </div>
                </div>
            </div>
        </div>
    <div id="container">
	<div class="shell">
        <div id="main">
			<div id="content">
				<div class="box">
					<div class="box-head">
					</div>
        <div>
            <form action="/inventory" method="post">
              <div class="right"> Search:<input type="text" name="search" class="form-text"/>
                <input type="submit" text="Submit"  class="form-button"/></div>
                <div class="table">
					<table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <th>id</th>
                        <th>occasions</th>
                        <th>name</th>
                        <th>price</th>
                        <th>description</th>
                        <th>gender</th>
                        <th>age</th>
                        <th>department</th>
                        <th>contents</th>
                        <th>quantity</th>
                        <th>sku</th>
                        <th>picture</th>
                        <th width="110" class="ac">Content Control</th>
                    </tr>
                    <%
                    if(inventory.length != null){
                    for(var i = 0 ; i < inventory.length ; i++){
                    %>
                    <tr>
                        <td><%= inventory[i]['id']%></td>
                        <td><%= inventory[i]['occasions']%></td>
                        <td><%= inventory[i]['name']%></td>
                        <td><%= inventory[i]['price']%></td>
                        <td><%= inventory[i]['description']%></td>
                        <td><%= inventory[i]['gender']%></td>
                        <td><%= inventory[i]['age']%></td>
                        <td><%= inventory[i]['department']%></td>
                        <td><%= inventory[i]['contents']%></td>
                        <td><%= inventory[i]['quantity']%></td>
                        <td><%= inventory[i]['sku']%></td>
                        <td><%= inventory[i]['picture']%></td>
                        <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                    </tr>
                    <%}}else{%>

                    <tr>
                    <td><%= inventory['id']%></td>
                    <td><%= inventory['occasions']%></td>
                    <td><%= inventory['name']%></td>
                    <td><%= inventory['price']%></td>
                    <td><%= inventory['description']%></td>
                    <td><%= inventory['gender']%></td>
                    <td><%= inventory['age']%></td>
                    <td><%= inventory['department']%></td>
                    <td><%= inventory['contents']%></td>
                    <td><%= inventory['quantity']%></td>
                    <td><%= inventory['sku']%></td>
                    <td><%= inventory['picture']%></td>
                    <td><a href="#" class="ico del">Delete</a><a href="#" class="ico edit">Edit</a></td>
                    </tr>
                    <% }%>
                    </table>
					</div>
				</div>
			</div>
        </div>
      </div>
    </div>
            </form>
        </div>   
                    <div id="sidebar">
                        <div class="box">
                            <div class="box-head">
                                <h2>Management</h2>
                            </div>
                            <div class="box-content">
                                <a href="#" class="add-button"><span>Add new catalog</span></a>
                                <div class="cl">&nbsp;</div>
                                <div class="cl">&nbsp;</div>
                                <a href="/inventory" class="add-button"><span>All catalog</span></a>
                                <div class="cl">&nbsp;</div>
                                <div class="sort">
                                    <label>Sort by</label>
                                    <select class="field">
                                        <option value="">Gender</option>
                                        <option value="">male</option>
                                        <option value="">female</option>
                                    </select>
                                    <select class="field">
                                        <option value="">Price</option>
                                        <option value="">25 and below</option>
                                        <option value="">25-35</option>
                                        <option value="">35 and up</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cl">&nbsp;</div>			
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
    </script>
</html>