<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <%- include('global/_topBanner'); %>
        <section class="main-content">
            <div class="main-content-box">
                <div class="product-detail">
                    <div class="product-detail-left">
                        <img src="/public/image/<%= product.picture %>" width="300" height="300" alt="Product Details">
                    </div>
                    <div class="product-detail-right">
                        <div class="product-details-name">
                            <%= product.name %>
                        </div>
                        <div class="product-details-description">
                            <%= product.description %>
                        </div>
                        <% if (hasLogin) { %>
                        <div class="product-details-price">
                            <input type="radio" name="buy" value="buy" checked> Buy now <span class="product-details-price-currency">$<%= product.price %> </span>
                        </div>
                        <div class="product-details-price">
                            <input type="radio" name="buy" value="subscribe"> Subscribe&Save <span class="product-details-price-currency">$<%= product.price %> </span>
                        </div>
                        <div class="product-details-action-group" name="buy">
                            <button>
                                <a href="/checkout?sku=<%= product.sku %>">Buy Now</a>
                            </button>
                            <button class="light">
                                <a href="/addToCart?sku=<%= product.sku %>">Add to Cart</a>
                            </button>
                        </div>
                        <div class="product-details-action-group" name="subscribe" style="display:none">
                            <button>
                                <a href="/subscribe?sku=<%= product.sku %>">Subscribe</a>
                            </button>
                        </div>
                         <% } %>
                         <% if (!hasLogin) { %>
                            <div class="product-details-price">
                                <input type="radio" name="buy" value="buy" checked> Buy now <span class="product-details-price-currency">$<%= product.price %> </span>
                            </div>
                            <div class="product-details-action-group">
                                <button>
                                    <a href="/checkout?sku=<%= product.sku %>">Buy Now</a>
                                </button>
                            </div>
                          <% } %>
                    </div>
                    
                </div>    
            </div>
        </section>
        <%- include('global/_footer'); %>
        <script type="text/javascript">
            $('.product-details-price input:radio[name="buy"]').change(
                function(){
                    if ($(this).is(':checked')&&$(this).val()=="buy") {
                        // append goes here
                        $(".product-details-action-group[name='subscribe']").hide();
                        $(".product-details-action-group[name='buy']").show();
                    }
                    else if ($(this).is(':checked')&&$(this).val()=="subscribe") {
                        // append goes here
                        $(".product-details-action-group[name='buy']").hide();
                        $(".product-details-action-group[name='subscribe']").show();
                    }
            });

        </script>
    </body>
</html>