<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <%- include('global/_topBanner'); %>
        <section class="main-content">
            <div class="main-content-box">
                <div class="product-detail">
                    <div class="product-detail-left">
                        <img src="/public/image/<%= product.picture %>" width="300" height="300" alt="Product Details">
                    </div>
                    <div class="product-detail-right">
                        <div class="product-details-name">
                            <%= product.name %>
                        </div>
                        <div class="product-details-description">
                            <%= product.description %>
                        </div>
                        <div class="product-details-action-group">
                            <div class="product-details-price">
                                <sup class="product-details-price-currency">$</sup> <%= product.price %>
                            </div>
                            <button>
                                <a href="/checkout?sku=<%= product.sku %>">Buy Now</a>
                            </button>
                            <% if (hasLogin) { %>
                            <button class="light">
                                <a href="/addToCart?sku=<%= product.sku %>">Add to Cart</a>
                            </button>
                            <% } %>
                        </div>
                    </div>
                    
                </div>    
            </div>
        </section>
        <%- include('global/_footer'); %>
        <script type="text/javascript">
        </script>
    </body>
</html>