<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <%- include('global/_topBanner'); %>
        <section class="main-content">
            <div class="main-content-box">
                <div class="main-content-title" style="font-size:20px;font-weight:700;padding-left:25px;padding-top:10px;">
                    Product Review
                </div>
                <div class="product-detail">
                    <div class="product-review-left">
                        <img src="/public/image/<%= product.picture %>" width="200" height="200" alt="Product Details">
                    </div>
                    <div class="product-detail-right">
                        <div class="product-details-name">
                            <%= product.productName %>
                        </div>
                        
                        <div class="product-details-price">
                            <strong>Quantity - <%= product.quantity %></strong>
                        </div>
                        <div class="product-details-price">
                            <span class="product-details-price-currency">$<%= product.price %> </span>
                        </div>
                    </div>
                    
                </div>  

                <div class="product-review-content">
                    <form class="gform-wrapper" action="/saveProductReview" method="post"> 
                        <input type="hidden" name="lineItemId" value=<%= product.id %>>
                        <input type="hidden" name="rate">
                        <div class="gform-row">
                            <div class="gform-col-3">
                                <div class="gform-input-group">
                                    <label for="rate">Rate</label>
                                    <div class="gform-input-rating">
                                        <span data-rate="5">☆</span><span data-rate="4">☆</span><span data-rate="3">☆</span><span data-rate="2">☆</span><span data-rate="1">☆</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-12">
                                <div class="gform-input-group">
                                    <label for="comment">Comment</label>
                                    <textarea name="comment" rows="4" ></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-4">
                                <button>Submit</button>
                            </div>
                        </div>
                    </form>
                </div>  
            </div>
        </section>
        <%- include('global/_footer'); %>
        <script type="text/javascript">

            $(".gform-input-rating span").on('click',function(e){
                var newRate = $(this).data('rate');
                //console.log(rate);
                $('input[name=rate]').val(newRate);

                
                $.each($(".gform-input-rating span"), function( index, value ) {
                    var rate = $(this).data('rate');
                    console.log(rate);
                    if(rate<=newRate){
                        $(this).addClass('checked');
                        
                    }else{
                         $(this).removeClass('checked');
                    }
                });
            });
        </script>
    </body>
</html>