<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <%- include('global/_topBanner'); %>
        <section class="main-content">
            <div class="main-content-box">
                <div class="profile-form">
                   <form class="gform-wrapper" action="/updateProfile" method="post">
                        <input type="hidden" name="id" value=<%= profile.id %> >
                        <div class="gform-row">
                            <div class="gform-col-12">
                                <div class="gform-title"><a>Profile</a></div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-12">
                                <div class="gform-input-group">
                                    <label for="firstName">First Male</label>
                                    <input type="text" name="firstName" readonly value=<%= profile.firstName %> >
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-12">
                                <div class="gform-input-group">
                                    <label for="MiddleName">Middle Male</label>
                                    <input type="text" name="middleName" readonly value=<%= profile.middleName %> >
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-12">
                                <div class="gform-input-group">
                                    <label for="lastName">Last Name</label>
                                    <input type="text" name="lastName" readonly value=<%= profile.lastName %> >
                                </div>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-12">
                                <button id="enableEdit">Edit</button>
                                <button id="submit" type="submit" style="display:none">Save</button>
                            </div>
                        </div>
                        <div class="gform-row">
                            <div class="gform-col-12">
                                <p class="message">Want to delete your account? <a id="deleteProfile">Yes, delete it.</a></p>
                            </div>
                        </div>
                    </form>
                <div>
            </div>
        </section>
         <%- include('global/_footer'); %>
        <script type="text/javascript">
            $("#enableEdit").on("click",function(event){
                event.preventDefault();
                $(".profile-form input[type=text]").attr("readonly",false);
                $("#enableEdit").hide();
                $("#submit").show();
                $(".profile-form input[type=text]").first().focus();
                $(".profile-form").addClass("editing");
            });
            $("#deleteProfile").on("click",function(event){
                var result = confirm("Are you sure want to delete your account?\nOnce deleted, all account information will be remove from our system permanently.");
                if (result) {
                    window.location.href = "/deleteProfile";
                }
            });
            
    </script>
    </body>
</html>