<!DOCTYPE html>
<html>
    <%- include('global/_head', {title:"Welecom to Surprise!"}); %>
    <body>
        <header class="top-banner">
            <div class="top-banner-title"><a href="/">Surprise</a></div>
            <ul class="top-login-group">
                <li><a href="/myAccount">My Account</a></li>
                <li>|</li>
                <li><a href="/logout">Sign Out</a></li>
            </ul>
        </header>
        <section class="main-content">
            <div class="main-content-box">
                    <div class="form-wrapper form-profile">
                        <div class="form-title">Your Profile</div>
                        <form class="form-profile" action="/updateProfile" method="post">
                            <input type="hidden" name="id" value=<%= profile.id %> >
                            <div class="contro-group">
                                <label for="firstName">First Male</label>
                                <input type="text" name="firstName" readonly value=<%= profile.firstName %> >
                            </div>
                            <div class="contro-group">
                                 <label for="MiddleName">Middle Male</label>
                                <input type="text" name="middleName" readonly value=<%= profile.middleName %> >
                            </div>
                            <div class="contro-group">
                                 <label for="lastName">Last Name</label>
                                <input type="text" name="lastName" readonly value=<%= profile.lastName %> >
                            </div>
                            <button id="enableEdit">Edit</button>
                            <button id="submit" type="submit" style="display:none">Save</button>
                            <p class="message">Want to delete your account? <a id="deleteProfile">Yes,delete it.</a></p>
                        </form>
                    </div>      
            </div>
        </section>
        <footer class="site-footer">
            <ul class="site-footer-content">
                <li>All rights reserved © 2017</li>
                <li>CS6360 Group 4, Spring 2017, UTDallas</li>
            </ul>
        </footer>
        <script type="text/javascript">
            $("#enableEdit").on("click",function(event){
                event.preventDefault();
                $(".form-profile input[type=text]").attr("readonly",false);
                $("#enableEdit").hide();
                $("#submit").show();
                $(".form-profile input[type=text]").first().focus();
                $(".form-profile").addClass("editing");
            });
            $("#deleteProfile").on("click",function(event){
                var result = confirm("Are you sure want to delete your account?\nOnce deleted, all account information will be remove from our system permanently.");
                if (result) {
                    window.location.href = "/deleteProfile";
                }
            });
            
    </script>
    </body>
</html>